:root{
--primary-color: #1E88E5;
--button-color: #FF7A18;
--logo-color: #FFB066;;
--footer-color:#62412e;
--footer-text-color: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}
.wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.left {
    background-image: url("./images/image-11.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}
.right {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 40px;
    flex: 1;
}
h1 {
    font-family: "Island Moments", cursive;
    color:var(--button-color);
    font-size: 50px;
}
.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
;
}









footer{
    background-color: var(--footer-color);
}
.attribution{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;}
    
.footer-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: var(--footer-text-color);
}
.footer-container p{
    color: var(--footer-text-color);
    display: block;
    margin-top: 0.5rem;
}
.footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 15rem;
}
.quick-links{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 14rem;
  
}
.quick-links a{
    text-decoration: none;
    color:var(--footer-text-color);
    display: block;
    margin-top: 0.5rem;
}
.quick-links a:hover{
    color:#87ceeb;}

.quick-links ul{
    list-style: none;
}
.contact{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 14rem;
   
}
.contact a{
    text-decoration: none;
    color: var(--footer-text-color);
    display: block;
    margin-top: 0.5rem;
}
.social{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 8rem;
}
.social a{
    text-decoration: none;
    color: var(--footer-text-color);
    margin-right: 1rem;
    display: block;
    margin-top: 0.5rem;
}
.social a:hover{
    color: skyblue;}